name: 02 workflows events

# on: 
#   push:
#   pull_request:
#   schedule:
#     - cron: '*/1 * * * *' # Every 5 minutes
#   workflow_dispatch:

on: workflow_dispatch

jobs:
   echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "Evento disparado por  trigger ${{ github.event_name }}"
