name: 06 - context example
run-name: 06 - Context | DEBUG - ${{ inputs.debug }}

on: 
    push:
    workflow_dispatch:
        inputs:
            debug:
                type: boolean
                default: false

jobs:
    echo-data:
      runs-on: ubuntu-latest
      steps:
        - name: Display Information Ricardo
          run: |
                echo "Event Name: ${{ github.event_name }}"
                echo "Repository: ${{ github.repository }}"
                echo "Actor: ${{ github.actor }}"
                echo "SHA: ${{ github.sha }}"
                echo "Ref: ${{ github.ref }}"
                echo "Workflow: ${{ github.workflow }}"
                echo "Job: ${{ github.job }}"
                echo "Run ID: ${{ github.run_id }}"
                echo "Run Number: ${{ github.run_number }}"
        - name: Retrieve Variables
          run: |
                echo "Variable Value${{ vars.MY_VAR }}" # > settings> secrets > actions - add variable
                