name: 12 - Working with Outputs

on:
  workflow_dispatch:
    inputs:
      build-status:
        description: 'Simulate build status'
        required: false
        type: choice
        options:
          - 'success-input'
          - 'failure-input'
        default: 'success'


jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      minha-chave: ${{ steps.id-build-step.outputs.minha-chave }}
      nome-bd-saida: ${{ steps.id-build-step.outputs.nome-bd }}
    steps:
      - name: Print Github_output path
        run: |
          echo "GITHUB_OUTPUT path: $GITHUB_OUTPUT"
      - name: Build
        id: id-build-step
        run: |
          echo "Building application..."
          echo "minha-chave=${{ inputs.build-status }} completed successfully!" >> $GITHUB_OUTPUT
          echo "nome-bd=sql completed successfully!" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        run: |
          echo "Deploying application with output from build step..."
          echo "Output from build step - minha-chave: ${{ needs.build.outputs.minha-chave }}"
          echo "Output from build step - nome-bd: ${{ needs.build.outputs.nome-bd-saida }}"